<a href="https://colab.research.google.com/github/tuanymariiah/webscraping/blob/main/Web_Scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import requests
import pandas as pd
from datetime import datetime
from bs4 import BeautifulSoup
import numpy as np

In [9]:
url = 'https://www2.hm.com/en_us/men/products/jeans.html'
headers = {'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_11_5) ,AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.102 Safari/537.36'}
page = requests.get( url, headers=headers )

In [10]:
soup = BeautifulSoup( page.text, 'html.parser' )
products = soup.find( 'ul', class_='products-listing small' )

In [11]:
total_item = soup.find_all( 'h2', class_='load-more-heading' )[0].get('data-total')
print('total_item', total_item)
page_number =  int( total_item ) / 36
print('page_number', page_number)
url02 = url + '?page-size=' + str( int( page_number*36 ) )
url02
page2 = requests.get( url02, headers=headers )
soup = BeautifulSoup( page2.text, 'html.parser' )
products = soup.find( 'ul', class_='products-listing small' )

total_item 87
page_number 2.4166666666666665

In [12]:
product_list = soup.find_all('article', class_='hm-product-item')
# percorre a lista para encontrar o id de cada produto
product_id =[]
for p in list (product_list):
  product_id.append(p.get('data-articlecode'))

#categoria
product_category =[]
for p in list (product_list):
  product_category.append(p.get('data-category'))

#nome
product_list = products.find_all('a', class_='link')
product_name = []
for p in list(product_list):
  product_name.append(p.get_text())

#preco
product_list = products.find_all('span', class_='price regular')
product_price = []
for p in list(product_list):
  product_price.append(p.get_text())

In [13]:
#colocando no dataframe
data = pd.DataFrame( [product_id, product_category, product_name,product_price] ).T
data.columns = ['product_id', 'product_category', 'product_name','product_price']

In [14]:
data

    product_id   product_category                    product_name product_price
0   1004476004     men_jeans_slim             Freefit® Slim Jeans       $ 49.99
1   0690449051   men_jeans_ripped                    Skinny Jeans       $ 39.99
2   0938875007     men_jeans_slim              Slim Tapered Jeans       $ 39.99
3   0985197005     men_jeans_slim                      Slim Jeans       $ 19.99
4   0811993028  men_jeans_regular                   Regular Jeans       $ 29.99
..         ...                ...                             ...           ...
82  0720504013   men_jeans_skinny                    Skinny Jeans       $ 24.99
83  0636207010     men_jeans_slim                      Slim Jeans       $ 19.99
84  0636207019     men_jeans_slim                      Slim Jeans       $ 19.99
85  0952016002  men_jeans_regular  Hybrid Regular Tapered Joggers       $ 39.99
86  0811993007  men_jeans_regular                   Regular Jeans       $ 29.99

[87 rows x 4 columns]